@model sl_phase3project2.Models.ClassesModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noofstudents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noofstudents)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Classname }) |
    @Html.ActionLink("Back to List", "Index")
</p>
